[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
beautifulsoup4 = "*"
black = "*"
openai = "*"
pinecone-client = "*"
unstructured = "*"
nltk = "*"
python-magic-bin = "*"
fastapi = "*"
jinja2 = "*"
unicorn = "*"
streamlit = "*"
streamlit-chat = "*"
tqdm = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
